<app-menuempleado></app-menuempleado>
<div class="container contenedor">
    <br>
    <div class="row container">
        <div (click) = "altaCliente()" class="col-md-4">
            <div class="panel panel-info" style="cursor: pointer;">
				<div class="panel-heading">
				    <h4 class="">Clientes.</h4>
				</div>
				<div class="panel-body">
				    Alta de Clientes.
					<hr>
				    <img src="../../assets/img/abmusuarios.jpg" alt="" class="img-rounded img-responsive">
				</div>
				<!-- <div class="panel-footer">Panel footer</div> -->
			</div>
        </div>
        <div (click) = "altaPedidos()" class="col-md-4">
            <div class="panel panel-info" style="cursor: pointer;">
                <div class="panel-heading">
                    <h4 class="">Pedidos</h4>
                </div>
                <div class="panel-body">
					Alta de Pedidos
					<br><hr>
					<img src="../../assets/img/abmpedidos.jpg" alt="" class="img-rounded img-responsive">
                </div>
            </div>
        </div>
        <div (click) = "altaProductos()" class="col-md-4">
            <div class="panel panel-info" style="cursor: pointer;">
                <div class="panel-heading">
                    <h4 class="">Productos</h4>
                </div>
                <div class="panel-body">
					Alta de productos.
					<br><hr>
					<img src="../../assets/img/abmproductos.jpg" alt="" class="img-rounded img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>