<app-menuadmin></app-menuadmin>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="container" style="border-radius: 10px; background-color: #e5e3e3 ">
  {{title}}
  <ng2-smart-table 
    [settings]="settings"
    [source]="source"
    (editConfirm)='editar($event)'
    (edit)='editar($event)'
    (createConfirm)='agregar($event)'
    (deleteConfirm)='borrar($event)'
    (delete)='borrar($event)'
  ></ng2-smart-table>
</body>
</html>
<br><br>
<a class="btn btn-info" (click)='exportar()'> Exportar Grilla en Excel</a>
<a class="btn btn-info" (click)='convert()'> Exportar Grilla en PDF</a>