<nav class="navbar navbar-inverse bg-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/administrador">Inicio</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/abmusuarios" routerLinkActive="active">ABM Usuarios</a></li>
      <li><a routerLink="/abmlocales" routerLinkActive="active">ABM Locales</a></li>
      <li><a routerLink="/estadisticas" routerLinkActive="active">Estadísticas</a></li>
      <li><a style="margin-left: 20cm;" [routerLink]="[]" (click)="salir()" routerLinkActive="active">Logout</a></li>
    </ul>
  </div>
</nav>

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="container" style="border-radius: 10px; background-color: #e5e3e3 ">
  {{title}}
  <ng2-smart-table 
    [settings]="settings"
    [source]="source"
    (editConfirm)='editar($event)'
    (edit)='editar($event)'
    (createConfirm)='agregar($event)'
    (deleteConfirm)='borrar($event)'
    (delete)='borrar($event)'
  ></ng2-smart-table>
</body>
</html>
<br><br>
<a class="btn btn-primary" (click)='exportar()'> Exportar Grilla</a>