<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/encargado">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/abmempleados" routerLinkActive="active">Empleados</a></li>
      <li><a routerLink="/abmpedidos" routerLinkActive="active">ABM Pedidos</a></li>
      <li><a routerLink="/abmproductos" routerLinkActive="active">ABM Productos</a></li>
      <li><a style="margin-left: 21cm;" [routerLink]="[]" (click)="salir()" routerLinkActive="active">Logout</a></li>
    </ul>
  </div>
</nav>

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body id="fondoSmart">
  {{title}}
  <ng2-smart-table 
    [settings]="settings"
    [source]="source"
    (editConfirm)='editar($event)'
    (edit)='editar($event)'
    (userRowSelect)='cmselection($event)'
    (createConfirm)='agregar($event)'
    (deleteConfirm)='borrar($event)'
    (delete)='borrar($event)'
  ></ng2-smart-table>
</body>

<button (click)='exportar()'> aca</button>